*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


.first-page-container{
  width: 100%;
  height: 75vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/first_page_background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.first-text-box{
  width: 90%;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.first-text-box h1{
  font-size: 50px;
}

.first-text-box p{
  margin: 10px 0 40px;
  font-size: 20px;
  color: #000;
}

.to-login{
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.to-login:hover{
  border: 1px solid #8b0000;
  background: #8b0000;
  transition: 1s;
}


.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.form-box{
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px 60px 70px;
  text-align: center
}

.form-box h1{
  font-size: 30px;
  margin-bottom: 60px;
  color: #000;
  position: relative;
}

.form-box h1::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #000;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-field{
  background: #eaeaea;
  margin: 15px 0 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

.input-field input{
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.input-field i{
  margin-left: 15px;
  color: #999;
}

form p {
  text-align: left;
  font-size: 13px;
}

form p a{
  text-decoration: none;
  color: #8b0000;
}


.btn-field{
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-field button{
  flex-basis: 48%;
  background: #800020;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}

.input-group{
  height: 280px;
}

.btn-field button.disable{
  background: #eaeaea;
  color: #555;
}

.topnav {
    background-image: url('/static/images/navbar_image.png');
    overflow: hidden;
}
.topnav img {
    width: auto;
    max-width: 150px;
    height: 150px;
    float: left;

}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  transform: scale(1.1); 
}

.topnav-right {
  float: right;
}

.topnav-center {
  margin-top: 50px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.topnav-center a{
  padding-left: 75px;
  padding-right: 75px;
  font-size: 30px; 
}

.welcome-section{
  text-align: center;
}

.welcome-section h2 {
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.welcome-section p {
  padding-left: 20px;
  padding-right: 20px;
}

.suggestions-section {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
}

.suggestions-section h2 {
  width: 100%;
  padding: 20px;
  margin-left: 45px;
}

.suggestion-box {
  margin-right: 10px;
  border-style: solid;
  padding: 20px;
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-right: 50px;;
}

.suggestion-box img {
  width: 100px; 
  height: auto; 
  align-items: center;
}

.suggestion-box:last-child {
  margin-right: 0;
}


.slideshow-container {
  position: relative;
  border-style: solid;
  background-color: #963539;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  height: 250px;
  overflow: hidden;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text1 {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.text2 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.profile-list{
  margin-left: 50px;
  margin-top: 50px;

}
.profile-buttons button {
  margin-right: 10px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #800020;
  color: #fff;
  cursor: pointer;
}

.profile-buttons button:hover {
  background-color: #800020;
}

.community-text{
  text-align: center;
}

.community-text h2 {
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.community-text p {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links-community {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: transform 0.3s; 
}

.nav-links-community button {
  padding: 10px 20px;
  background-color: #800020;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;

}

.user-form-community {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.user-form-community input {
    width: 100%;
    max-width: 1000px;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 50px;
    font-family: inherit;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form-community input::placeholder {
    color: #bbb;
}

.user-form-community button {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color:  #800020; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-form-community button:hover {
    background-color: #610000; 
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-form input {
    width: 100%;
    max-width: 1000px;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 50px;
    font-family: inherit;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
}

.search-form input::placeholder {
    color: #bbb;
}

.search-form button {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color:  #800020; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #610000; 
}

.search-suggestions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.search-suggestions h2 {
  width: 100%;
  padding: 20px;
  margin-left: 45px;
}

.image-container-search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container-search img {
    width: 150px; 
    height: auto;
    margin-right: 30px;
    margin-left: 30px;
    border-style: solid;
}

.community-search-suggestions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.community-search-suggestions h2 {
  width: 100%;
  padding: 20px;
  margin-left: 45px;
}

.general-description  {
   display: flex;
   align-items:center;
}

.general-description img {
   vertical-align: middle;
   margin-left: 30px;
   width: auto;
   height: 250px;
}

.general-description h2 {
   font-size: 25px;
   padding: 5px;
}

.rating-description {
  margin-left: 75px;
  margin-top: 35px;
}

.description-rankings {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 275px; 
  margin-right: 500px; 
}

.description-rankings h2 {
  text-align: right;
  padding: 5px;
}

.to-start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.log-bttn button {
  width: 200px;
  height: 50px;
  background-color:#610000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form p{
  font-size: 15px;
  margin-top: 20px;
}

.about h1 {
  padding: 20px;
  font-size: 30px;
  margin-left: 20px;
  text-align: center;
}


.about h2 {
  padding: 20px;
  margin-left: 20px;
}

.about p {
  padding: 10px;
  margin-left: 20px;
}

.profile-pictures-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px; 
}

.profile-card {
    width: 200px;
    margin: 50px; 
    text-align: center;

}

.profile-picture {
    width: auto;
    max-width: 275px;
    height: 275px;
}

.profile-container {
    margin-top: 10px; 
}

.top-intro-quiz h1 {
  padding: 30px;
  margin-left: 20px;
}

.top-intro-quiz p {
  padding: 30px;
  margin-left: 20px;
}

.question {
  margin-left: 20px;
  padding: 10px;
}

.question h2{
  padding: 5px;
}

.question p{
  padding: 10px;
  font-size: 17px;
}

.question input{
  margin-top: 10px;
  margin-left: 10px;
}

.quiz-submit-button{
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;

}
.quiz-submit-button button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #800020;
  color: #fff;
  cursor: pointer;
}

.quiz-submit-button button:hover {
  background-color: #800020;
}

.nav-to-quiz{
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
}

.submission h2 {
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 40px;

}

.wine-suggestions {
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  height: 250px;
}

.blend-suggestions {
  position: relative;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  height:250px;
}

.wine-box {
  width:220px;
  background-color: #d3d3d3;
  border:3px solid #999;
  border-radius: 25px;
  padding:15px;
  display:inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.wine-suggestion-content {
  font-weight:bold;
  color:black;
  text-decoration:none;
}

.blend-button {
  background-color: #963539;
  border: solid #800020;
  color:#f2f2f2;
  padding: 15px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  font-size:16px;
  box-shadow: 5px #999;
  cursor: pointer;
}

.profile-search-button {
  display: block;
  margin: auto;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #800020;
  color: #fff;
  cursor: pointer;
}


.rounded-social-buttons {
  text-align: center;
  background-color: #672428;
  padding: 10px 40px 30px;
}

.rounded-social-buttons p {
    color: #fff;
    font-weight: bold; 
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-tiktok, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.tiktok {
  background: #000000;
}

.rounded-social-buttons .social-button.tiktok:hover, .rounded-social-buttons .social-button.tiktok:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

.firstSpan {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
    
.secondSpan {
  opacity: .9;
  font-weight: normal;
}
.firstSpan .secondSpan {
  visibility: hidden;
  width: 240px;
  background-color: rgb(131,63,62);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
    
.firstSpan:hover .secondSpan {
  visibility: visible;
}

.review h4{
 padding: 10px;
 margin-left: 30px;
}

.description-rankings {
  margin-right: 75px;
}

.description-rankings h4{
  padding: 10px;
}

.food h4{
  margin-top: 10px;
  margin-left: 40px;
}

.rating-description {
  margin-top: 100px;
}

.general-description{
  margin-left: 30px;
}

.general-description h1{
  margin-top: 20px;
}

.general-description h2{
  margin-top: 20px;
  margin-bottom: 20px;
}

#output-rating {
  padding: 10px;
}

