*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


.first-page-container{
  width: 100%;
  height: 75vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/first_page_background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.first-text-box{
  width: 90%;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.first-text-box h1{
  font-size: 50px;
}

.first-text-box p{
  margin: 10px 0 40px;
  font-size: 20px;
  color: #000;
}

.to-login{
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.to-login:hover{
  border: 1px solid #8b0000;
  background: #8b0000;
  transition: 1s;
}


.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.form-box{
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px 60px 70px;
  text-align: center
}

.form-box h1{
  font-size: 30px;
  margin-bottom: 60px;
  color: #000;
  position: relative;
}

.form-box h1::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #000;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-field{
  background: #eaeaea;
  margin: 15px 0 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

.input-field input{
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.input-field i{
  margin-left: 15px;
  color: #999;
}

form p {
  text-align: left;
  font-size: 13px;
}

form p a{
  text-decoration: none;
  color: #8b0000;
}


.btn-field{
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-field button{
  flex-basis: 48%;
  background: #800020;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}

.input-group{
  height: 280px;
}

.btn-field button.disable{
  background: #eaeaea;
  color: #555;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #000;
  text-decoration:  none;
  font-size: 13px
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #800020;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width:100%;
}

.page-selection {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 75px;
    padding-right: 75px;
    transition: transform 0.3s; 
}

.button-selection button {
  padding: 10px 20px;
  background-color: #800020;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;

}

.button-selection:hover {
    transform: scale(1.1); 
}

.button-selection i {
    font-size: 40px; 
    margin-bottom: 10px; 
}

.welcome-section{
  text-align: center;
}

.welcome-section h2 {
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.welcome-section p {
  padding-left: 20px;
  padding-right: 20px;
}

.suggestions-section {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
}

.suggestions-section h2 {
  width: 100%;
  padding: 20px;
  margin-left: 45px;
}

.suggestion-box {
  margin-right: 10px;
  border-style: solid;
  padding: 20px;
  width: 20%;
  display: flex;
  justify-content: center;
  margin-right: 50px;;
}

.suggestion-box img {
  width: 100px; 
  height: auto; 
  align-items: center;
}

.suggestion-box:last-child {
  margin-right: 0;
}

.slideshow-container {
  position: relative;
  border-style: solid;
  background-color: #963539;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  height: 250px;
  overflow: hidden;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text1 {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.text2 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

footer {
    border-style: solid;
    color: #000;
    padding: 20px;
    font-size: 14px;
}

.send-email form {
  text-align: left;
}

.socials{
  text-align: right;
}

.socials a {
    color: #800020;
    margin: 0 5px;
    text-decoration: none;
    font-size: 20px;
}

.socials a:hover {
    color: #f0f0f0;
}

.send-email input:nth-of-type(1), .send-email input:nth-of-type(2) {
    width: 350px;
    border-radius: 10px;
    border-color: #d3d3d3;
    padding: 5px 5px;
}

.send-email textarea{
    width: 350px;
    border-radius: 10px;
    border-color: #d3d3d3;
    padding: 5px 5px;
}

.send-email input:nth-of-type(3) {
    background-color: #8a0936;
    font-weight: bold;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    width: 220px;
}
.send-email input:nth-of-type(3):hover {
    background-color: #800020;
}

.profile-container {
  display: flex;
  flex-direction: column; 
  align-items: left;
  margin-left: 50px;
  height: 100vh;
}

.profile-card {
  margin-bottom: 20px; 
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  margin-top: 0;
}

.profile-info h2, .profile-info p {
  margin: 0;
}

.profile-buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #800020;
  color: #fff;
  cursor: pointer;
}

.profile-buttons button:hover {
  background-color: #800020;
}
