<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="description" content="Introduction quiz to gain user information">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src="https://kit.fontawesome.com/3e4426112a.js" crossorigin="anonymous"></script>
    <title>BlendBud</title>
</head>
<body>
    <section class="header">
        <nav>
            <div class="logo">
                <h1>LOGO PLACEHOLDER</h1>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="{{ url_for('auth.login') }}">LOG IN</a></li>
                    <li><a href="{{ url_for('auth.signup') }}">SIGN UP</a></li>
                    <li><a href="{{ url_for('auth.profile_page') }}">PROFILE</a></li>
                </ul>
            </div>
        </nav>
        <div class = "page-selection">
            <div class = button-selection>
                <i class="fa-solid fa-house"></i>
                <a href="{{ url_for('auth.home') }}"><button class="home-selection">Home</button></a>
            </div>
            <div class = button-selection>
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href="{{ url_for('auth.search') }}"><button class="search-selection">Search</button></a>
            </div>
            <div class = button-selection>
                <i class="fa-solid fa-champagne-glasses"></i>
                <a href="{{ url_for('auth.community') }}"><button class="community-selection">Community</button></a>
            </div>
            <div class = button-selection>
                <i class="fa-solid fa-question"></i>
                <a href="{{ url_for('auth.about') }}"><button class="about-selection">About Us</button></a>
            </div>
        </div>
    </section>
    <section class = "welcome-section">
        <h2>Welcome to BlendBud: Wine made easy</h2>
    </section>
    <div class="search-suggestions">
        <h2>SUGGESTIONS FOR YOU</h2>
        <div class="image-container-search">
            <img src="images/winebottle.png" alt="Image 1">
            <img src="images/winebottle.png" alt="Image 2">
            <img src="images/winebottle.png" alt="Image 3">
            <img src="images/winebottle.png" alt="Image 4">
        </div>
    </div>

<section class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="text1">Log a Wine</div>
    <div class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Lacus laoreet non curabitur gravida.</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <div class="text1">Personalized Quiz</div>
    <div class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Lacus laoreet non curabitur gravida.</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <div class="text1">Blend With a Friend</div>
    <div class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Lacus laoreet non curabitur gravida.</div>
  </div>


  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</section>
<br>
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>




    <footer>
        <div id="contact">
            <h2>Get in touch!</h2>
            <div class="socials">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
            <div class="send-email">
                <form method="POST" action="submission.html">
                    <label for="name">Name</label><br>
                    <input type="text" name="name" id="name" rows="4" cols="50" required><br>
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email" required><br>
                    <label for="message">Message</label><br>
                    <textarea name="message" id="message" rows="4" cols="50" required></textarea><br>
                    <input type="submit" value="Send Message">
                </form>
            </div>
        </div>
    </footer>
</body>
</html>
