<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="description" content="Introduction quiz to gain user information">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src="https://kit.fontawesome.com/3e4426112a.js" crossorigin="anonymous"></script>
    <title>BlendBud</title>
</head>
<body style="background-color:rgba(124, 31, 98, 0.07);">
  <h1>We'd love to get to know you better...</h1>
  <p>Take our personalized quiz to enhance your recommendation</p>
  <form id = 'quiz-form' action="/quiz" method='POST'>
    <div class="question">
      <h2>Question 1</h2>
      <p>What is your experience level with wine?</p>
      <label><input type="radio" name="q1" value="option1">I know nothing!</label><br>
      <label><input type="radio" name="q1" value="option2">I know of wine.</label><br>
      <label><input type="radio" name="q1" value="option3">I feel somewhat comfortable but need guidance.</label><br>
      <label><input type="radio" name="q1" value="option4">I would consider myself an expert!</label><br>
    </div>
    <div class="question">
      <h2>Question 2</h2>
      <p>Why are you using BlendBud?</p>
      <label><input type="checkbox" name="q2" value="option1">To find new wines</label><br>
      <label><input type="checkbox" name="q2" value="option2">To get suggestions</label><br>
      <label><input type="checkbox" name="q2" value="option3">To find community</label><br>
      <label><input type="checkbox" name="q2" value="option4">To get food pairing recommendations</label><br>
    </div>
    <div class="question">
      <h2>Question 3</h2>
      <p>How much do you typically pay for wine?</p>
      <label><input type="radio" name="q3" value="option1"> I'm not sure</label><br>
      <label><input type="radio" name="q3" value="option2"> $10-$15</label><br>
      <label><input type="radio" name="q3" value="option3"> $15-$25</label><br>
      <label><input type="radio" name="q3" value="option4"> More than $25</label><br>
      <label><input type="radio" name="q3" value="option5"> I buy wine in a variety of price ranges</label><br>
    </div>
    <div class="question">
      <h2>Question 4</h2>
      <p>Do you like sweet or bitter drinks?</p>
      <label><input type="radio" name="q4" value="option1"> Sweet</label><br>
      <label><input type="radio" name="q4" value="option2"> Bitter</label><br>
      <label><input type="radio" name="q4" value="option3"> Both</label><br>
      <label><input type="radio" name="q4" value="option4"> I'm not sure</label><br>
    </div>
    <div class="question">
      <h2>Question 5</h2>
      <p>Do you like fizzy drinks?</p>
      <label><input type="radio" name="q5" value="option1"> Yes</label><br>
      <label><input type="radio" name="q5" value="option2"> No</label><br>
      <label><input type="radio" name="q5" value="option3"> Somewhat</label><br>
      <label><input type="radio" name="q5" value="option4"> I'm not sure</label><br>
    </div>
    <div class="question">
      <h2>Question 6</h2>
      <p>Select all flavors you like:</p>
      <label><input type="checkbox" class = "get_value" id = "apple"  value="apple"> Apple</label><br>
      <label><input type="checkbox" class = "get_value" id = "blueberry"  value="blueberry"> Blueberry</label><br>
      <label><input type="checkbox" class = "get_value" id = "pear"  value="pear"> Pear</label><br>
      <label><input type="checkbox" class = "get_value" id = "peach"  value="peach"> Peach</label><br>
      <label><input type="checkbox" class = "get_value" id = "cherry"  value="cherry"> Cherry</label><br>
      <label><input type="checkbox" class = "get_value" id = "plum"  value="plum"> Plum</label><br>
      <label><input type="checkbox" class = "get_value" id = "strawberry" value="strawberry"> Strawberry</label><br>
      <label><input type="checkbox" class = "get_value" id = "blackberry" value="blackberry"> Blackberry</label><br>
      <label><input type="checkbox" class = "get_value" id = "raspberry"  value="raspberry"> Raspberry</label><br>
    </div>
    <div class="button">
      <button type="submit">Submit Quiz</button>
    </div>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
      $(document).ready(function() {
          $('#quiz-form').on('submit', function(e) {
          e.preventDefault();
              var insert = [];
                $('.get_value').each(function() {
                  if ($(this).is(":checked")) {
                      insert.push($(this).val());
                  }
              });
              var insert_string = 'checkboxvalue='+insert; 
              $.ajax({
                  method: "POST",
                  url: "/quiz",
                  data: insert_string,
                  content: 'application/json',
                  success: function(data){    
                      $("#result").html(data);
                      window.location.href = './quiz_submitted';
                  }
              });
          });
      });
  </script>
</body>
</html>