<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <title>Login to BlendBud</title>
</head>
<body class = "to-start" style="background-color:rgba(124, 31, 98, 0.1);">
    <div class="login-form">
      <h2>LOG IN </h2>
      <form id="login-form">
        <div>
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="email" />
        </div>

        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
        </div>

        <div class="log-bttn">
          <button type="submit">LOG IN</button>
        </div>
      <p>Need an account?</p>
      <a href="http://localhost:5000/signup">SIGN UP</a>
  </form>

  <div id="output-login"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('#login-form').on('submit', function(e) {
      e.preventDefault();
      var formData = new FormData(this); 

      $.ajax({
        type: 'POST',
        url: 'http://localhost:5000/login',
        processData: false,
        contentType: false,
        data: formData,
        success: function(data) {
          console.log("Login successful", data);
          localStorage.setItem('token', data.access_token);
          window.location.href = './home';
        },
        error: function(xhr, status, error) {
          var err = xhr.responseJSON ? xhr.responseJSON.error : 'Login failed';
          $('#output-login').text(err).show();
        }
      });
    });
  });
  </script>
</body>
</html>
