<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <title>Sign up for BlendBud</title>
</head>
<body class = "to-start" style="background-color:rgba(124, 31, 98, 0.1);">
    <div class="login-form">
      <h2>SIGN UP </h2>
        <form id = 'signup-form' action="/register" method='POST'>
        <div>
          <label for="name">Username:</label>
          <input type="text" id="name" name="username" />
        </div>

        <div>
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="email" />
        </div>

        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
        </div>

        <div class="log-bttn">
          <button type="submit">SIGN UP</button>
        </div>
      <p>Already have an account?</p>
      <a href="http://localhost:5000/login">LOG IN</a>

</form>
<div id="output-signup"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#signup-form').on('submit', function(e) {
        e.preventDefault(); 
        var formData = {
          username: $('#name').val(),
          email: $('#mail').val(),
          password: $('#password').val()
        };
        $.ajax({
          type: 'POST',
          url: '/register',
          data: formData,
          dataType: 'json',
          success: function(data) {
            $('#output-signup').text(data.message).show();
          },
          error: function(xhr, status, error) {
            var err = xhr.responseJSON.error;
            $('#output-signup').text(err).show();
          }
        });
      });
    });
</script>
</body>
</html>