<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="description" content="Introduction quiz to gain user information">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src="https://kit.fontawesome.com/3e4426112a.js" crossorigin="anonymous"></script>
    <title>BlendBud</title>
</head>
<body>
<div class="topnav">
  <img class = "logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="BlendBud Logo">
  <div class="topnav-right">
    <a href="{{ url_for('auth.login') }}">LOGIN</a>
    <a href="{{ url_for('auth.signup') }}">SIGN UP</a>
    <a href="{{ url_for('auth.profile_page') }}" class="fa-solid fa-user" style="color: #fff; font-size: 20px;" ></a>
  </div>
  <div class = "topnav-center">
  <a href="{{ url_for('auth.home') }}" class="fa-solid fa-house" style="color: #fff;"></a>
  <a href="{{ url_for('auth.show_search') }}" class="fa-solid fa-magnifying-glass" style="color: #fff;"></a>
  <a href="{{ url_for('auth.community') }}" class="fa-solid fa-champagne-glasses" style="color: #fff;"></a>
  <a href="{{ url_for('auth.about') }}" class="fa-solid fa-question" style="color: #fff;"></a>
  </div>
</div>
    <div class = general-description>
        <img src="images/winebottle.png" alt="Image 1">
        <span>
            <h2 id="username">{{user.username}}</h2>
        </span>
        <button id="blend-test" class="profile-selection">Blend with {{username}}</button>
        <div class="search-suggestions">
        <div id="suggestions"></div>
        </div>


    </div>
    <footer>
        <div id="contact">
            <h2>Get in touch!</h2>
            <div class="socials">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
            <div class="send-email">
                <form method="POST" action="submission.html">
                    <label for="name">Name</label><br>
                    <input type="text" name="name" id="name" rows="4" cols="50" required><br>
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email" required><br>
                    <label for="message">Message</label><br>
                    <textarea name="message" id="message" rows="4" cols="50" required></textarea><br>
                    <input type="submit" value="Send Message">
                </form>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#blend-test').on('click', function(e) {
        e.preventDefault();
        var username = document.getElementById("username").value;
        var data = {"username":username}
        $.ajax({
          type: 'GET',
          url: 'http://localhost:5000/top_blends',
          processData: false,
          contentType: false,
          data: data,
          dataType: 'text json',
          success: function(data) {
            data = JSON.parse(data);
            const suggestionResults = document.getElementById("suggestions");
            for(var i=0; i<=data.length-1;i++) {
                const id = data[i].id;
                const name = data[i].name;
                const rating = data[i].average_rating;
                const div = document.createElement("div");
                const wineUrl = "/description/".concat(id);
                div.innerHTML = `<a href="${wineUrl}" style="font-weight:bold; color:black; text-decoration:none;">${name}, ${rating}</a>`;
                suggestionResults.appendChild(div);
            }
            //$("#section-test").text(data).show();
          },
          error: function(xhr, status, error) {
            var err = xhr.responseJSON ? xhr.responseJSON.error : 'You must login before blending with this user';
            $("#suggestions").text(err).show();
          }
        });
      });
    });
    </script>

</body>
</html>